
<div class="d-flex">
 <div style="width: 200px;">
    <app-side-menu name="home"></app-side-menu>
 </div>
 <div class="w-100 align-self-stretch text-white background-main">


    <div *ngIf="!isBackup">
       
        
        <div class="text-center m-5">
            <img src="./assets/molk_logo.png" alt="LOGO" class="portfolio_logo">
        </div>
        
        <div class="h1 text-center m-4">
            Welcome To Mobilink
        </div>
        <div class="text-center restort_msg">
            Get started by sending assets to your wallet or <span (click)="openModal(content)" class="link">restore from backup</span>
        </div>
        <div class="row mx-5 text-center">
            <div class="col-1">

            </div>
            <div class="col-2">
                24H Change
                <br>
                <p class="text-white">$0.00</p>
            </div>
            <div class="col-2">
                Highest Balance
                <br>
                <p class="text-white">$0.00</p>
            </div>
            <div class="col-2">
                Portfolio Age
                <br>
                <p class="text-white">1 Day</p>
            </div>
            <div class="col-2">
                Best 24H Asset
                <br>
                <p class="text-white">---</p>
            </div>
            <div class="col-2">
                Worst 24H Asset
                <br>
                <p class="text-white">---</p>
            </div>
            <div class="col-1">

            </div>
                
        </div>
        <div class="mx-5">
            <table datatable class="common-table" id="portfolio_table" width="100%">
                <thead>
                    <tr>
                        <th class="text-left pl-5">
                            Name/Price
                        </th>
                        <th>
                            Market Cap
                        </th>
                        <th>
                            24H Volumn
                        </th>
                        <th>
                            24H Change
                        </th>
                        <th>
                            Balance
                        </th>
                        <th>
                            value
                        </th>
                        <th>
                            Portfolio %
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of portfolios">
                        <td>
                            <div class="d-flex text-center pl-4">
                                <div>
                                    <img [src]='p.img_url' style="height : 30px;margin-top : 5px;">
                                </div>
                                <div class="pl-3 text-left">
                                    <span class="font-weight-bold">{{p.name}}</span><br>
                                    ${{p.rate}} USD
                                </div>
                            </div>                       
                            
                        </td>
                        <td>
                            {{p.cap}}
                        </td>
                        <td>
                            {{p.volumn24}}
                        </td>
                        <td>
                            <div *ngIf="p.change24>=0" class="text-success">
                                +{{p.change24}}%
                            </div>
                            <div *ngIf="p.change24<0" class="text-muted">
                                {{p.change24}}%
                            </div>
                                                        
                        </td>
                        <td>
                            {{p.balance}} {{p.symbol}}
                        </td>
                        <td>
                            ${{p.value}}
                        </td>
                        <td>
                            {{p.portfolio}} %
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
     
    </div>
    <div *ngIf="isBackup" class="m-5 position-relative">
          <highcharts-chart 
            [Highcharts]="Highcharts"
          
            [constructorType]="chartConstructor"
            [options]="chartOptions"
          
            style="height: 500px; display: block;"
          ></highcharts-chart>
          <div class="portfolio_panel">
                ${{total_price}}<br>Total Price
          </div>
    </div>
 </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Restore</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <p>Please select the appropriate restore method.</p>
        <p><button class="btn btn-lg btn-outline-primary" (click)="openModal(emailcontent);modal.dismiss('open click')">Backup Link(from email)</button></p>
        <!-- <p><button class="btn btn-lg btn-outline-primary" >12 Word Recovery Phase</button></p> -->
    </div>
</ng-template>
<ng-template #emailcontent let-modal>
    
    <div class="modal-body text-center">
        <h4>Restore from email</h4>
        <p>Please paste in your recovery link sent to your email</p>
        <form class="input-form">
            <mat-form-field class="input-full-width">
                <input matInput >
            </mat-form-field>
        </form>
        <div>
            <button class="btn btn-lg btn-outline-secondary m-3" (click)="modal.dismiss('Cross click')">CANCEL</button>
            <button class="btn btn-lg btn-outline-primary m-3" (click)="modal.dismiss('Ok click');isBackup = true;">OK</button>
        </div>
    </div>
</ng-template>