<mat-sidenav-container class='sidenav-container'>
  <mat-sidenav
  #drawer
  class="sidenav"
  fixedInViewport="true"
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="!(isHandset$ | async)"
  >
    <mat-nav-list >
      <img src="./assets/molk_logo.png" alt="LOGO" class="res_logo">
      <h2 style="text-align: center">MOBILINK</h2>
      <h5 style="text-align: center">$0.00USD</h5>
      <a mat-list-item routerLink=""  [ngClass]="pageName=='home'?'focus':''">
        <i class="fa fa-pie-chart"></i>
        &nbsp;&nbsp;Portfolio
      </a>
      <a mat-list-item routerLink="/wallet" [ngClass]="pageName=='wallet'?'focus':''">    
        <i class="material-icons">account_balance_wallet</i>
        &nbsp;&nbsp;Wallet
      </a>
      <a mat-list-item routerLink="/exchange" [ngClass]="pageName=='exchange'?'focus':''">  
        <i class="fa fa-exchange"></i>
        &nbsp;&nbsp;Exchange
      </a>
      <a mat-list-item routerLink="/backup" [ngClass]="pageName=='backup'?'focus':''">      
        <i class="material-icons">backup</i>
        &nbsp;&nbsp;Backup
      </a>
      <div class="fixed-bottom">
          <!-- <a mat-list-item href="/setting">      
            <i class="fa fa-sliders"></i>
            &nbsp;&nbsp;Setting
          </a> -->
          <a mat-list-item (click)="gotoHelp();">                 
            <i class="fa fa-question-circle"></i>
            &nbsp;&nbsp;Help
          </a>
      </div>
    
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>