<div class="d-flex background-main">
  <div style="width: 200px;">
     <app-side-menu name="chart"></app-side-menu>
  </div>
  <div class="w-100 align-self-stretch text-white">
    <div class="h-25 justify-content-center p-5">
        <div class="btn-group w-100 round" dropdown>
            <button type="button" id="button-basic" class="btn dropdown-toggle bg-toggle-button" dropdownToggle [ngStyle]="{'border':coin_data[selCoin].buttonColor + ' 2px solid'}">
                <div class="d-flex">
                    <div>
                        <img [src]="coin_data[selCoin].selectedIcon" style="height : 40px;">                   
                    </div>
                    <div class="pl-3" style="font-size : 15px;" [ngStyle]="{'color':coin_data[selCoin].buttonColor}">
                        {{coin_data[selCoin].long}} <br>1 {{coin_data[selCoin].name}} = {{coin_data[selCoin].rate}} USD
                    </div>
                </div>                            
            </button>
            <ul  *dropdownMenu class="dropdown-menu w-100 bg-toggle-1"
                role="menu" aria-labelledby="button-basic">
                <li role="menuitem"  *ngFor="let coin of coin_data; let i = index"><a [ngClass]="coin.hover?'dropdown-item bg-toggle-hover':'dropdown-item bg-toggle'" (mouseover)="changeStyle($event,i)" (mouseout)="changeStyle($event,i)" (click)="setSelCoin(i)" >
                    <div class="d-flex">
                        <div>
                            <img [src]="coin.selectedIcon" style="height : 40px;">                   
                        </div>
                        <div class="pl-3" style="font-size : 15px;" [ngStyle]="{'color':coin.buttonColor}">
                            {{coin.long}}<br> 1 {{coin.name}} = {{coin.rate}} USD
                        </div>
                    </div> 
                </a></li>                          
            </ul>
        </div>
        <div class="btn-group w-100 round" dropdown>
                <button type="button" id="button-inteval" class="btn btn-interval" dropdownToggle >
                    {{intervalString[currentInterval]}}                  
                </button>
                <ul *dropdownMenu class="dropdown-menu bg-interval"
                    role="menu" aria-labelledby="button-inteval">
                    <li role="menuitem"><a (click)="changeInterval(0)">1 minutes</a></li>
                    <li role="menuitem"><a (click)="changeInterval(1)">15 minutes</a></li>                          
                    <li role="menuitem"><a (click)="changeInterval(2)">1 hour</a></li>                          
                    <li role="menuitem"><a (click)="changeInterval(3)">1 day</a></li>                                                    
                </ul>
            </div>
    </div>
    <div class="justify-content-center">
        <highcharts-chart
        [Highcharts]="Highcharts"
      
        [constructorType]="chartConstructor"
        [options]="chartOptions"
        [(update)]="updateFlag"
        [oneToOne]=true
        style="height: 500px; width : 90%; margin-left : 5%; display: block;"
      ></highcharts-chart>
    </div>
  </div>
</div>